# dependencies
/node_modules

# build output
/dist

# local env files
.env
.env.local
.env.*.local

# editor files
*.log
.vscode/
.idea/
.DS_Store

# yarn / npm
yarn.lock
package-lock.json
pnpm-lock.yaml
